body {
    font-family: fira sans;
    padding: 30px;
    background-color: rgb(227, 226, 226)
}

.heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.login-btn {
    border: 1px solid green;
    border-radius: 8px;
    width: 116px;
    height: 52px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
    color: #006A50;
}

.poster {
    padding: 40px;
    display: flex;
    gap: 36px;
    justify-content: space-between;
    border-radius: 24px;

    background: rgb(198, 228, 214);
    ;
}

.hero-b {
    margin: auto;
}

.poster-head {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.poster-description {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
}

.poster-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 16px 24px 16px 24px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.a:hover {
    background-color: rgb(9, 128, 255);
}

.vision-section {
    margin: 40px 0px 40px 0px;
}

.section-tittle {
    font-size: 48px;
    font-weight: 700;
}

.vision-text {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
}

.vision-card {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.vision-card-tittle {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.vision-card-1 {
    padding: 16px;
    border-radius: 16px;
    background-color: #b3d2ff;
}

.vision-btn-1 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
}

.btn-text {
    color: rgb(255, 255, 255);
    padding: 12px 18px 12px 18px;

    font-size: 16px;
    font-weight: 600;
}

.vision-card-2 {
    border-radius: 16px;
    background-color: aquamarine;
    padding: 16px;
}

.vision-btn-2 {
    border-radius: 8px;
    background: rgb(9, 161, 92);
}

.vision-card-3 {
    border-radius: 16px;
    padding: 16px;
    background: rgb(247, 235, 207);
}

.vision-btn-3 {
    border-radius: 8px;
    background: rgb(255, 194, 57);
}

.quote {
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
}

.quote-description {
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
}

.quote-text {
    padding-top: 30px;
}

.card-1 {
    display: flex;
    gap: 32px;
 
    background-color: white;
    border-radius: 24px;
    padding: 20px;
}

.card-img { margin: auto;
    border: solid 2px;
    width: 408px;
    height: 306px;
    border-radius: 24px
}

.card-tittle {
    font-weight: 700;
    font-size: 32px;
    font-family: fira sans;

}

.btn {
    border-radius: 8px;

    background: rgb(0, 106, 80);
  
}



.card-description {
    margin-bottom: 40px;
    margin-top: 20px;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
}

.card-section {
    margin-top: 30px;
    display: grid;
    gap: 30px;
  
}
.donation-tittle{color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: center;}
    .donation-text{color: rgba(14, 14, 14, 0.7);
        font-size: 16px;
        font-weight: 400;
        text-align: center;}
        .donation-card{display: flex;
            justify-content: space-evenly; gap: 30px;
           }
        .donation-card-1{background-color: white;
            padding:30px;
        border-radius: 16px;
        border: 1px solid rgba(14, 14, 14, 0.15);}
        .donation-card-1:hover{background-color: rgb(43, 224, 43);}
        .donation-card-2{padding: 40px;
            border: 1px solid rgba(14, 14, 14, 0.15);
            border-radius: 16px;
            background-color: rgb(140, 213, 173);}
        .donation-card-2:hover{background-color: rgb(43, 224, 43);}
        .amount{color: rgba(14, 14, 14, 0.8);
            font-size: 30px;
            font-weight: 700;
           }
           .inputtab{margin:30px;
        padding: 30px 100px 30px 100px;}
           .inputform{color: rgba(14, 14, 14, 0.8);
            font-size: 40px;
            font-weight: 700;
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
width: 100%;
  }
    
 
.donation{margin: 0px 0px 0px 46%;}

.newsletter{ background-color: rgb(140, 213, 173); padding: 40px;
margin: 40px 0px 40px 0px;}
.newsletter-tittle{color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: center;}
.newsletter-text{color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;}
    .subscribe-btn{border-radius: 0px 8px 8px 0px;
color: white; 
        background: rgb(0, 106, 80);}
    .form-e{padding: 20px 60px 20px 60px;}
    .letter-1{margin:0px 0px 0px 25%;}
        .news-text{color: rgba(14, 14, 14, 0.7);
            font-size: 16px;
            font-weight: 400;
            text-align: center;
           }